<div class="container" style="padding-top:20px;">

	<div class="row">
		<div class="col-sm-12">
			<h1 class="page-header">Page Heading <small>Secondary text</small></h1>
		</div>
	</div>
    <div ng-repeat="hospital in hospitals">
    	<div class="row">
    		<div class="col-sm-7">
    			<img class="img-responsive" src="http://placehold.it/700x300" alt="750*500">
    		</div>
    		<div class="col-sm-5">
    			<h3> {{hospital.name}} </h3>
                <h5>SubHeading {{HostpitalsController.appName}}</h4>
    			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
    			<a type="button" class="btn btn-primary" href="#">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
    		</div>
    	</div>
        <hr>
    </div>
    
	<div class="row">
        <div class="col-sm-7">
            <img class="img-responsive" src="http://placehold.it/700x300" alt="750*500">
        </div>
        <div class="col-sm-5">
            <h3> Project Two {{appName}} and {{hospitals.length}}</h3>
            <h4>SubHeading </h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
            <a type="button" class="btn btn-primary" href="#">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </div>
	<hr>
    <div class="row">
        <div class="col-sm-7">
            <img class="img-responsive" src="http://placehold.it/700x300" alt="750*500">
        </div>
        <div class="col-sm-5">
            <h3> Project Three djalfdja </h3>
            <h4>SubHeading </h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
            <a type="button" class="btn btn-primary" href="#">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-7">
            <img class="img-responsive" src="http://placehold.it/700x300" alt="750*500">
        </div>
        <div class="col-sm-5">
            <h3> Project Four </h3>
            <h4>SubHeading </h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
            <a type="button" class="btn btn-primary" href="#">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-7">
            <img class="img-responsive" src="http://placehold.it/700x300" alt="750*500">
        </div>
        <div class="col-sm-5">
            <h3> Project Five </h3>
            <h4>SubHeading </h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
            <a type="button" class="btn btn-primary" href="#">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
             <ul class="pagination">
              <li> <a href="#">&laquo;</a></li>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">&raquo;</a></li>
            </ul>
        </div>
    </div>

    <hr>
    
   <footer>
       <div class="row">
            <div class="col-sm-12">
                <h5>Copyright &copy apsy.in 2016</h5>
            </div>
       </div>
   </footer>
	
</div>
	